.bundle/
*.iso
*.box
*.ovf
*.vmdk
*.vdi
virtualfloppy.vfd
packer_cache
packer.log
.DS_Store
/packer-*/
*.variables.json
/builds/
.kitchen
.kitchen.yml
Gemfile.lock
bootstrap.sh
Berksfile.lock
ubuntu/scripts/homestead.sh
