lang en_US.UTF-8
keyboard us
network --bootproto=dhcp --noipv6 --onboot=on --device=eth0 --activate
rootpw --plaintext vagrant
firewall --enabled --ssh
selinux --enforcing
timezone UTC
bootloader --timeout=0 --location=mbr --append="console=tty0 console=ttyS0,115200n8 no_timer_check"
text
skipx
zerombr
clearpart --all --initlabel
autopart --nohome --nolvm --noboot
firstboot --disabled
reboot --eject
user --name=vagrant --plaintext --password vagrant
services --enabled=sshd

%addon com_redhat_kdump --disable
%end

%packages --ignoremissing --excludedocs
@^server-product-environment
# vagrant needs this to copy initial files via scp
openssh-clients
sudo
selinux-policy-devel
wget
nfs-utils
net-tools
tar
bzip2
deltarpm
rsync
dnf-utils
redhat-lsb-core
elfutils-libelf-devel
-dracut-config-rescue
-fprintd-pam
-intltool
-*firmware
-microcode_ctl
%end

%post
# sudo
echo 'Defaults:vagrant !requiretty' > /etc/sudoers.d/vagrant
echo '%vagrant ALL=(ALL) NOPASSWD: ALL' >> /etc/sudoers.d/vagrant
chmod 440 /etc/sudoers.d/vagrant

# Enable hyper-v daemons only if using hyper-v virtualization
if [ $(virt-what) == "hyperv" ]; then
  dnf -y install hyperv-daemons cifs-utils
  systemctl enable hypervvssd
  systemctl enable hypervkvpd
fi
%end
