---
on:
  pull_request:

jobs:
  pkr-bld-amazonlinux-x64:
    # needs:
    #   - yaml-lint
    #   - json-lint
    #   - xml-lint
    #   - powershell-lint
    #   - shellcheck-lint
    #   - packer-iso-check
    #   - packer-lint
    uses: ./.github/workflows/pkr-bld-amazonlinux-x64.yml
    secrets: inherit

  pkr-bld-virtualbox-arm64:
    # needs:
    #   - yaml-lint
    #   - json-lint
    #   - xml-lint
    #   - powershell-lint
    #   - shellcheck-lint
    #   - packer-iso-check
    #   - packer-lint
    uses: ./.github/workflows/pkr-bld-virtualbox-arm64.yml
    secrets: inherit

  pkr-bld-virtualbox-x64:
    # needs:
    #   - yaml-lint
    #   - json-lint
    #   - xml-lint
    #   - powershell-lint
    #   - shellcheck-lint
    #   - packer-iso-check
    #   - packer-lint
    uses: ./.github/workflows/pkr-bld-virtualbox-x64.yml
    secrets: inherit

  pkr-bld-parallels-arm64:
    # needs:
    #   - yaml-lint
    #   - json-lint
    #   - xml-lint
    #   - powershell-lint
    #   - shellcheck-lint
    #   - packer-iso-check
    #   - packer-lint
    uses: ./.github/workflows/pkr-bld-parallels-arm64.yml
    secrets: inherit

  pkr-bld-parallels-x64:
    # needs:
    #   - yaml-lint
    #   - json-lint
    #   - xml-lint
    #   - powershell-lint
    #   - shellcheck-lint
    #   - packer-iso-check
    #   - packer-lint
    uses: ./.github/workflows/pkr-bld-parallels-x64.yml
    secrets: inherit

  pkr-bld-vmware-arm64:
    # needs:
    #   - yaml-lint
    #   - json-lint
    #   - xml-lint
    #   - powershell-lint
    #   - shellcheck-lint
    #   - packer-iso-check
    #   - packer-lint
    uses: ./.github/workflows/pkr-bld-vmware-arm64.yml
    secrets: inherit

  pkr-bld-vmware-x64:
    # needs:
    #   - yaml-lint
    #   - json-lint
    #   - xml-lint
    #   - powershell-lint
    #   - shellcheck-lint
    #   - packer-iso-check
    #   - packer-lint
    uses: ./.github/workflows/pkr-bld-vmware-x64.yml
    secrets: inherit

  pkr-bld-hyperv-x64:
    # needs:
    #   - yaml-lint
    #   - json-lint
    #   - xml-lint
    #   - powershell-lint
    #   - shellcheck-lint
    #   - packer-iso-check
    #   - packer-lint
    uses: ./.github/workflows/pkr-bld-hyperv-x64.yml
    secrets: inherit

  pkr-bld-qemu-arm64:
    # needs:
    #   - yaml-lint
    #   - json-lint
    #   - xml-lint
    #   - powershell-lint
    #   - shellcheck-lint
    #   - packer-iso-check
    #   - packer-lint
    uses: ./.github/workflows/pkr-bld-qemu-arm64.yml
    secrets: inherit

  pkr-bld-qemu-x64:
    # needs:
    #   - yaml-lint
    #   - json-lint
    #   - xml-lint
    #   - powershell-lint
    #   - shellcheck-lint
    #   - packer-iso-check
    #   - packer-lint
    uses: ./.github/workflows/pkr-bld-qemu-x64.yml
    secrets: inherit
