---
on:
  workflow_call:

env:
  PACKER_GITHUB_API_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
  # PACKER_LOG: "1"

jobs:
  aarch64:
    runs-on: [self-hosted, ARM64, virtualbox]
    strategy:
      fail-fast: false
      matrix:
        os:
          - amazonlinux-2023
    steps:
      - name: Checkout
        uses: actions/checkout@main
      - name: Install Vagrant Virtualbox
        run: |
          brew tap hashicorp/tap
          brew update
          brew install qemu
          brew install --cask hashicorp/tap/hashicorp-vagrant
          brew install --cask virtualbox
      - name: Install Chef
        uses: actionshub/chef-install@3.0.0
        with:
          version: 24.2.1058
      - name: Setup Packer
        uses: hashicorp/setup-packer@main
        with:
          version: latest
      - name: Checkout
        uses: actions/checkout@main
      - name: Install Bento
        run: |
          eval "$(chef shell-init bash)"
          gem build bento.gemspec
          gem install bento-*.gem
      - name: Bento build
        run: |
          eval "$(chef shell-init bash)"
          export LOGNAME=$USER
          ./${{ matrix.os }}-aarch64-virtualbox-build.sh
          ls -alh builds
          cat builds/${{ matrix.os }}*-x86_64._metadata.json
      - name: Bento Test
        run: |
          eval "$(chef shell-init bash)"
          export LOGNAME=$USER
          bento test
      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: "${{ matrix.os }}-virtualbox-x86_64"
          path: |
            builds/*.box
            builds/*.json
          overwrite: true
          retention-days: 10
          compression-level: 0 # no compression
