---
on:
  workflow_call:

permissions:
  contents: read

env:
  PACKER_GITHUB_API_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
  # PACKER_LOG: "1"

jobs:
  aarch64:
    runs-on: [self-hosted, ARM64, utm]
    strategy:
      fail-fast: false
      matrix:
        os:
          - almalinux-9
          - almalinux-10
          - centos-stream-9
          - centos-stream-10
          - debian-12
          - debian-13
          - fedora-42
          - freebsd-13
          - freebsd-14
          - freebsd-15
          - opensuse-leap-15
          - opensuse-leap-16
          - oraclelinux-9
          - oraclelinux-10
          - rockylinux-9
          - rockylinux-10
          - ubuntu-22.04
          - ubuntu-24.04
          - ubuntu-25.04
          - ubuntu-25.10
        provider:
          - utm-iso
    steps:
      - name: Checkout
        uses: actions/checkout@main
#       - name: Install UTM vagrant`
#         run: |
#          brew tap hashicorp/tap
#          brew update
#          brew install --cask hashicorp/tap/hashicorp-vagrant
#          brew install utm
#          vagrant plugin install vagrant_utm
#      - name: Setup Packer
#        if: steps.verify-changed-files.outputs.files_changed == 'true'
#        uses: hashicorp/setup-packer@main
#        with:
#          version: latest
#       - name: Install Chef
#         uses: actionshub/chef-install@3.0.0
#       - name: Install Bento
#         run: |
#           eval "$(chef shell-init bash)"
#           gem build bento.gemspec
#           gem install bento-*.gem
      - name: Bento build
        run: |
          eval "$(chef shell-init bash)"
          bento build -o ${{ matrix.provider }}.vm os_pkrvars/$(echo ${{ matrix.os }} | cut -d "-" -f 1)/"${{ matrix.os }}-aarch64.pkrvars.hcl"
          ls -alh builds/build_complete/
          cat builds/build_complete/${{ matrix.os }}*-aarch64._metadata.json
      - name: Remove VM in case of canceled job
        if: cancelled()
        run: |
          VM="$(utmctl list -a | grep ${{ matrix.os }} | cut -d " " -f 1)"
          echo "VM Name: $VM"
          echo Powering off and deleting any existing VMs named ${{ matrix.os }}*-aarch64
          utmctl stop "$VM"
          sleep 1
          utmctl delete "$VM"
          sleep 2
      - name: Bento Test
        run: |
          eval "$(chef shell-init bash)"
          bento test
      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: "${{ matrix.os }}-utm-aarch64"
          path: |
            builds/testing_passed/aarch64/*.box
            builds/testing_passed/aarch64/*.json
          overwrite: true
          retention-days: 10
          compression-level: 0 # no compression
