---
on:
  workflow_call:

jobs:
  x86_64:
    runs-on: [self-hosted, X64, virtualbox]
    strategy:
      fail-fast: false
      matrix:
        os:
          - amazonlinux-2
    steps:
      - name: Checkout
        uses: actions/checkout@main
      - name: Setup Packer
        uses: hashicorp/setup-packer@main
        with:
          version: latest
      - name: Packer Init
        env:
          PACKER_GITHUB_API_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
        run: packer init -upgrade packer_templates
      - name: Packer FMT
        run: if packer fmt -check -recursive .; then exit 0; else echo "Some packer files need to be formatted, run 'packer fmt -recursive .' to fix"; exit 1; fi
      - name: Packer Validate
        run: packer validate -var-file=os_pkrvars/$(echo ${{ matrix.os }} | cut -d "-" -f 1)/"${{ matrix.os }}-x86_64.pkrvars.hcl" packer_templates
      - name: Packer build
        run: ./AMZ_build_virtualbox-ovf.sh
      - name: Remove VM in case of canceled job
        if: always()
        continue-on-error: true
        run: |
          echo Powering off and deleting any existing VMs named AmazonLinuxBento
          VBoxManage controlvm AmazonLinuxBento poweroff --type headless 2> /dev/null
          sleep 1
          VBoxManage unregistervm AmazonLinuxBento --delete 2> /dev/null
          sleep 2
      - name: Upload build artifact
        uses: actions/upload-artifact@main
        with:
          name: "${{ matrix.os }}-virtualbox-x86_64.box"
          path: |
            builds/*.box
          retention-days: 10
