---
on:
  workflow_call:

env:
  PACKER_GITHUB_API_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
  # PACKER_LOG: "1"

jobs:
  x86_64:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        os:
          - almalinux-8
          - almalinux-9
          - almalinux-10
          - centos-stream-9
          - centos-stream-10
          - debian-11
          - debian-12
          - fedora-41
          - fedora-42
          - freebsd-13
          - freebsd-14
          - opensuse-leap-15
          - oraclelinux-8
          - oraclelinux-9
          - oraclelinux-10
          - rockylinux-8
          - rockylinux-9
          - rockylinux-10
          - ubuntu-22.04
          - ubuntu-24.04
        provider:
          - vmware-iso
    steps:
      - name: Checkout
        uses: actions/checkout@main
      - name: Install Vagrant VMware-fusion
        run: |
          curl https://softwareupdate.vmware.com/cds/vmw-desktop/ws/17.6.2/24409262/linux/core/VMware-Workstation-17.6.2-24409262.x86_64.bundle.tar -o VMware-Workstation-17.6.2-24409262.x86_64.bundle.tar
          tar -xvf VMware-Workstation-17.6.2-24409262.x86_64.bundle.tar
          chmod +x VMware-Workstation-17.6.2-24409262.x86_64.bundle
          sudo ./VMware-Workstation-17.6.2-24409262.x86_64.bundle --console --required
          wget -O - https://apt.releases.hashicorp.com/gpg | sudo gpg --dearmor -o /usr/share/keyrings/hashicorp-archive-keyring.gpg
          echo "deb [arch=$(dpkg --print-architecture) signed-by=/usr/share/keyrings/hashicorp-archive-keyring.gpg] https://apt.releases.hashicorp.com $(lsb_release -cs) main" | sudo tee /etc/apt/sources.list.d/hashicorp.list
          sudo apt update && sudo apt install vagrant
          vagrant plugin install vagrant-vmware-desktop
      - name: Install Chef
        uses: actionshub/chef-install@3.0.0
        with:
          version: 24.2.1058
      - name: Setup Packer
        uses: hashicorp/setup-packer@main
        with:
          version: latest
      - name: Install Bento
        run: |
          eval "$(chef shell-init bash)"
          gem build bento.gemspec
          gem install bento-*.gem
      - name: Bento build
        run: |
          eval "$(chef shell-init bash)"
          bento build -o ${{ matrix.provider }}.vm --vars 'ssh_timeout=30m' os_pkrvars/$(echo ${{ matrix.os }} | cut -d "-" -f 1)/"${{ matrix.os }}-x86_64.pkrvars.hcl"
          ls -alh builds/
          cat builds/${{ matrix.os }}*-x86_64._metadata.json
      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: "${{ matrix.os }}-vmware-x86_64"
          path: |
            builds/*.box
            builds/*.json
          overwrite: true
          retention-days: 10
          compression-level: 0 # no compression
      - name: Bento Test
        run: |
          eval "$(chef shell-init bash)"
          bento test
