---
on:
  workflow_call:

permissions:
  contents: read

env:
  PACKER_GITHUB_API_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
  # PACKER_LOG: "1"

jobs:
  x86_64:
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        os:
          - almalinux-8
          - almalinux-9
          - almalinux-10
          - centos-stream-9
          - centos-stream-10
          - debian-12
          - debian-13
          - fedora-42
          - fedora-43
          - freebsd-13
          - freebsd-14
          - freebsd-15
          - opensuse-leap-15
          - opensuse-leap-16
          - oraclelinux-8
          - oraclelinux-9
          - oraclelinux-10
          - rockylinux-8
          - rockylinux-9
          - rockylinux-10
          - ubuntu-22.04
          - ubuntu-24.04
          - ubuntu-25.04
          - ubuntu-25.10
        provider:
          - hyperv-iso
    steps:
      - name: Checkout
        uses: actions/checkout@main
      - name: Install Chef
        uses: actionshub/chef-install@3.0.0
      - name: Setup Packer
        uses: hashicorp/setup-packer@main
        with:
          version: latest
      - name: Install Bento
        run: |
          chef shell-init powershell
          gem build bento.gemspec
          gem install bento-*.gem
      - name: Create VM Switch for Hyper-V
        shell: pwsh
        run: |
          Get-PsDrive -PsProvider FileSystem
          pwd
          $adapter = (Get-NetAdapter | Where-Object { $_.Status -eq "Up" })[0].Name
          New-VMSwitch -Name "bento" -NetAdapterName $adapter -AllowManagementOS $true
      - name: Packer Init
        run: packer init -upgrade packer_templates
      - name: Packer build
        run: packer build -timestamp-ui -only="${{ matrix.provider }}.vm" -var 'sources_enabled=["hyperv-iso.vm"]' -var-file="os_pkrvars/$("${{ matrix.os }}".Split('-')[0])/${{ matrix.os }}-x86_64.pkrvars.hcl" packer_templates
      - name: Bento Test
        run: |
          chef shell-init powershell
          bento test
      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: "${{ matrix.os }}-hyperv-x86_64"
          path: |
            builds/testing_passed/x86_64/*.box
            builds/testing_passed/x86_64/*.json
          overwrite: true
          retention-days: 10
          compression-level: 0 # no compression
